COMPOSE_FILE=docker-compose.yml
COMPOSE_PROJECT_NAME=celery_dev

CONTAINER_NAME_PREFIX=sample
CONTAINER_NAME_SUFFIX=dev

DATA_DIR=./data
APP_DIR=./app

REDIS_IMAGE=redis:6
CELERY_IMAGE=celery:4
FLOWER_IMAGE=mher/flower:latest

REDIS_PORT=6379
FLOWER_PORT=8888

FLOWER_EXTERNAL_PORT=8888